body {}

.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-2);
	box-shadow: var(--shadow-dark);

	min-height: 50rem;
}
.header {

	background-color: #fff;
	border-bottom: var(--color-grey-light-2);
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.content {
	display: flex;
}
.sidebar {
	background-color: var(--color-grey-dark-1);
	flex: 0 0 18%;
}
.hotel-view {
	background-color: aqua;
	flex: 1;
}
.logo__box {
	margin-left: 1rem;
	border-radius: 100px;
	width: 3.25rem;
	height: 3.25rem;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	//padding: 20rem;
}

.search {
	flex: 0 0 40%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: var(--color-grey-light-2);
		border: none;
		padding: .7rem 2rem;
		border-radius: 100px;
		width: 90%;
		margin-right: -3.5rem;
		transition: all .2s;

		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}
		&::-webkit-input-placeholder {
			font-weight: 100;
			color: var(--color-grey-light-4);
		}
	}
	&__input + &__button {
		background-color: var(--color-grey-light-3);
	}
	&__button {
		border: none;
		background-color: var(--color-grey-light-2);
		&:focus {
			outline: none;
		}
		&:active {
			transform: translateY(2px);
		}
	}
	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-grey-dark-3);

	}
}

.userNav {
	background-color: gold;
	display: flex;
	align-items: center;
	&__iconBox {
		display: flex;
	}
	&__icon {
		height: 2.25rem;
		width: 2.25rem;
	}
	&__notification {}
	&__user {
		display: flex;
		align-items: center;
	}
	&__user_photo {
		height: 3.75rem;
		border-radius: 50%;
		background-color: var(--color-primary-light);
	}
	&__userName {}
}